{% extends "services.html.twig" %}

{% block service_details %}

<form action="/servicios/{{active_section}}" method="post">
    <fieldset>
        <label>E-mail</label>
        {{ form_widget(form.email) }}

        <label>Teléfono</label>
        {{ form_widget(form.phone) }}

        {% block service_fields %}

        {% endblock %}

        {{ form_rest(form) }}

        <button type="submit" name="submit" class="btn">Submit</button>
    </fieldset>
</form>

{% endblock %}