{% extends "services/base_service.html.twig" %}

{% block service_title %}
<h2>Servicio Promocional de lanzamiento 8 euros/h por 3h</h2>
{% endblock %}

{% block service_fields %}
<span>campos para el servicio promocional</span>
{% endblock %}