{% extends "services/base_service.html.twig" %}

{% block service_title %}
<h2>Servicio de limpieza puntual</h2>
{% endblock %}

{% block service_fields %}
<span>campos para el servicio puntual</span>
{% endblock %}