{% extends "services/base_service.html.twig" %}

{% block service_title %}
<h2>Servicio de limpieza semanal</h2>
{% endblock %}

{% block service_fields %}
    <span>campos para el servicio semanal</span>
{% endblock %}