{% extends "services/base_service.html.twig" %}

{% block service_title %}
<h2>Servicio de limpieza semanal</h2>
{% endblock %}

{% block service_fields %}

    <label>Duración</label>
    {{ form_widget(form.duration) }}

{% endblock %}