html, body, ul {
    margin: 0;
    padding: 0;
}
body {
	font:15px/25px 'Source Sans Pro', sans-serif;
	background:#fff;
    min-width: 300px;
}	
ul {
    list-style-type: none;
}
hr {
    border: 0;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
}
p {
	text-indent:10px;
	text-align:justify;
	text-justify:inter-word;
}

hr.center {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: -webkit-linear-gradient(left, rgba(80,80,80,0), rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:    -moz-linear-gradient(left, rgba(80,80,80,0), rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:     -ms-linear-gradient(left, rgba(80,80,80,0), rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:      -o-linear-gradient(left, rgba(80,80,80,0), rgba(80,80,80,0.75), rgba(80,80,80,0));
}

hr.left {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: -webkit-linear-gradient(left, rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:    -moz-linear-gradient(left, rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:     -ms-linear-gradient(left, rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:      -o-linear-gradient(left, rgba(80,80,80,0.75), rgba(80,80,80,0));
}

/* COLORS */
.blue{color:#60BEE2;}
.black{color:#000000;}


/* HEADER */
#header {
    padding: 0 10px 0px;
}
.row {
    margin: 0 auto;
    max-width: 940px;
}
#header .logo {
    float: left;
    overflow: hidden;
    margin: 12px 0;
}

#header .logo a {
    display: block;
}
#nav {
    float:right;
}
#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav ul li {
    float: left;
    margin: 0 0 0 49px;
    position: relative;
}
#nav ul li a {
    display: block;
    height: 100px;
    line-height: 100px;
    border-top: 3px solid #fff;
    color: #333333;
}

#nav ul li a:hover {
    text-decoration: none;
    color: #60BEE2;
}
#nav ul .active a {
    border-color: #60BEE2;
    color: #60BEE2;
}

@media screen and (max-width: 950px) {
    #nav ul {
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
        width: 505px;
        text-align: center;
    }
    #nav ul li {
        margin-left: 15px;
    }
    #header .logo {
        text-align: center;
        float: none;
    }
    #nav {
        float: none;
        width: 100%;
    }
    #nav ul li a {
        height: 100px;
        line-height: 100px;
    }
}
@media screen and (max-width: 850px) {
    #nav ul li a {
        height: 50px;
        line-height: 50px;
    }
}
@media screen and (max-width: 550px) {
    #nav ul {
        width: 290px !important;
    }
    .work-tab {
        margin-left: 45px !important;
    }
}



/* HOME */
.image-container {
    position: relative;
}
.image-wrapper {
    height: 300px;
    background: url('img/casa.png') no-repeat;
    background-position: center center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.shadow-top {
    position: absolute;
    background-image: url(img/shadow-top.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 42px;
    width: 100%;
    top: 0;
    z-index: 1;
}
.shadow-bottom {
    position: absolute;
    background-image: url(img/shadow-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 32px;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
#carousel {
    color: #999999;
}
#carousel p{
    margin-bottom: 3px;
}
#carousel div {
	width: 300px;
	display: block;
	float: left;
}

@media screen and (max-width: 850px) {
    #carousel {
        display: none;
    }
    .home-text-container {
        width: 100% !important;
    }
    .home-left-text-container {
        width: 100% !important;
        padding-left: 70px;
        padding-right: 70px;
        margin-left: 0 !important;
    }
}
@media screen and (max-width: 550px) {
    .image-container {
        margin-top: 30px;
    }
    .image-wrapper {
        height: 150px;
    }


}

@media screen and (max-width: 420px) {
    .home-left-text-container {
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0 !important;
    }
}



/* SITEMAP */
.sitemap-container {
    -moz-box-shadow: 0px 0px 20px #333333; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #333333; /* Safari, Chrome */
    box-shadow: 0px 0px 20px #333333; /* CSS3 */
    width: 100%;
    padding: 20px 0 0;
    background: #666666;
    border-top: 1px solid #60BEE2;
    font-style: normal;
    line-height: 24px;
    display: block;
    left: 0;
    bottom: 0;
    min-width: 1000px;
    padding-bottom: 35px;
}
.centered-container {
    margin-right: auto;
    margin-left: auto;
    width: 940px;
}
.sitemap-links-h3 {
    margin: 2px;
    color: #eeeeee;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}
.sitemap-links-list-item {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
.sitemap-links-list-item.facebook,
.sitemap-links-list-item.twitter,
.sitemap-links-list-item.blog{
    padding-left: 38px;
    height: 44px;
    background: url('img/sprite-social.png') no-repeat;
    line-height: 34px;
    position: relative;
}
.sitemap-links-list-item.facebook {
    background-position: 0 0;
}
.sitemap-links-list-item.twitter {
    background-position: 0 -44px;
}
.sitemap-links-list-item.blog {
    background-position: 0 -308px;
}

.sitemap-links-list-item a:link, .sitemap-links-list-item a:visited {
    color: #aaaaaa;
    line-height: 22px;
}
.sitemap-links-list-item a:hover {
    color: #60BEE2;
    text-decoration: none;
}
.likes {
    text-align: center;
}
.sitemap-social-container {
    text-align: center;
}
.twitter-follow-button {
    margin-left: 20px;
}

@media screen and (max-width: 950px) {
    .sitemap-container {
        min-width: 0;
    }
    .sitemap-linkgroups-container, .likes-container, .home-text-container {
        width: 100%;
    }
    .sitemap-links-container {
        padding-left: 20px;
    }
}


@media screen and (max-width: 550px) {
    .sitemap-container {
        display: none;
    }
}

/* Footer */
footer {
    -moz-box-shadow: 0px 0px 20px #333333; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #333333; /* Safari, Chrome */
    box-shadow: 0px 0px 20px #333333; /* CSS3 */
    border-top: 1px solid #60BEE2;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background: #333333;
}
footer span {
    color: #777777;
    margin-top: 4px;
}
footer span.right {
    float: right;
    margin-right: 10px;
}
footer span.left {
    float: left;
    margin-left: 10px;
}
footer a:link, footer a:visited {
    color: #aaaaaa;
    line-height: 22px;
}
footer a:hover {
    color: #60BEE2;
    text-decoration: none;
}

@media screen and (max-width: 550px) {
    footer span.left {
        display: none;
    }
}