html, body, ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
hr {
    border: 0;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
}
hr.center {
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: -webkit-linear-gradient(left, rgba(80,80,80,0), rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:    -moz-linear-gradient(left, rgba(80,80,80,0), rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:     -ms-linear-gradient(left, rgba(80,80,80,0), rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:      -o-linear-gradient(left, rgba(80,80,80,0), rgba(80,80,80,0.75), rgba(80,80,80,0));
}

hr.left {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: -webkit-linear-gradient(left, rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:    -moz-linear-gradient(left, rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:     -ms-linear-gradient(left, rgba(80,80,80,0.75), rgba(80,80,80,0));
    background-image:      -o-linear-gradient(left, rgba(80,80,80,0.75), rgba(80,80,80,0));
}

/* HEADER */
#header {
    padding: 0 10px 0px;
}
.row {
    margin: 0 auto;
    max-width: 940px;
}
#header .logo {
    float: left;
    overflow: hidden;
    margin: 0;
}
#header .logo a {
    display: block;
}
#nav {
    float:right;
}
#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav ul li {
    float: left;
    margin: 0 0 0 49px;
    position: relative;
}
#nav ul li a {
    display: block;
    height: 80px;
    line-height: 80px;
    border-top: 3px solid #fff;
    color: #333333;
}

#nav ul li a:hover {
    text-decoration: none;
    color: #60BEE2;
}
#nav ul .active a {
    border-color: #60BEE2;
    color: #60BEE2;
}

/* HOME */
.image-container {
    position: relative;
}
.image-wrapper {
    height: 200px;
    background: url('img/imagen_fondo.png') no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}
.shadow-top {
    position: absolute;
    background-image: url(img/shadow-top.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 42px;
    width: 100%;
    top: 0;
    z-index: 1;
}
.shadow-bottom {
    position: absolute;
    background-image: url(img/shadow-bottom.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 32px;
    width: 100%;
    bottom: 0;
    z-index: 1;
}


/* SITEMAP */
.sitemap-container {
    -moz-box-shadow: 0px 0px 20px #333333; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #333333; /* Safari, Chrome */
    box-shadow: 0px 0px 20px #333333; /* CSS3 */
    width: 100%;
    padding: 20px 0 0;
    background: #444444;
    border-top: 5px solid #60BEE2;
    font-style: normal;
    line-height: 24px;
    display: block;
    left: 0;
    bottom: 0;
    min-width: 1000px;
    padding-bottom: 35px;
}
.sitemap-links-container,
.sitemap-social-container {
    margin-right: auto;
    margin-left: auto;
    width: 940px;
}
.sitemap-links-container h3 {
    margin: 2px;
    color: #eeeeee;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}
.sitemap-links-list-item {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
.sitemap-links-list-item.facebook,
.sitemap-links-list-item.twitter,
.sitemap-links-list-item.blog{
    padding-left: 38px;
    height: 44px;
    background: url('img/sprite-social.png') no-repeat;
    line-height: 34px;
    position: relative;
}
.sitemap-links-list-item.facebook {
    background-position: 0 0;
}
.sitemap-links-list-item.twitter {
    background-position: 0 -44px;
}
.sitemap-links-list-item.blog {
    background-position: 0 -308px;
}

.sitemap-links-list-item a:link, .sitemap-links-list-item a:visited {
    color: #777777;
    line-height: 22px;
}
.sitemap-links-list-item a:hover {
    color: #60BEE2;
    text-decoration: none;
}
.sitemap-social-container {
    text-align: center;
}
.twitter-follow-button {
    margin-left: 20px;
}

/* Footer */
footer {
    -moz-box-shadow: 0px 0px 20px #333333; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #333333; /* Safari, Chrome */
    box-shadow: 0px 0px 20px #333333; /* CSS3 */
    border-top: 1px solid #666666;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background: #333333;
}