<footer>
    <span class="left">
        Publicado: <time datetime="2013-10-01">Octubre 2013</time>
    </span>
    <span class="right">
        <a href="http://www.hoduho.es">www.hoduho.es</a> | <a href="mailto:info@hoduho.es">info@hoduho.es</a> | <a href="tel:+34627544904">627544904</a>
    </span>
</footer>