<header id="header">
    <div class="row">
        <h1 class="logo">
            <a href="/presentacion">
                <img src="css/img/logo_header.jpg" alt="Hoduho - servicios de limpieza">
            </a>
        </h1>
        <div id="nav">
            <ul>
                <li class="{% if active_page == 'presentacion' %} active {% endif%}">
                    <a href="/presentacion">Presentación</a>
                </li>
                <li class="{% if active_page == 'servicios' %} active {% endif%}">
                    <a href="/servicios">Servicios</a>
                </li>
                <li class="{% if active_page == 'puntos' %} active {% endif%}">
                    <a href="/puntos">Puntos hoduho</a>
                </li>
                <li class="work-tab {% if active_page == 'trabaja' %} active {% endif%}">
                    <a href="/trabaja">Trabaja con nosotros</a>
                </li>
                <li class="{% if active_page == 'contacta' %} active {% endif%}">
                    <a href="/contacta">Contacta</a>
                </li>
            </ul>
        </div>
    </div>

</header>