<header class="header-container">
	<div class="logo"><a class="brand" href="/" ></a></div>
    <ul class="nav nav-pills header-menu">
        
        
        <li {% if active_page == 'presentacion' %} class="active"{% endif%}><a href="/">Presentación</a></li>
        <li {% if active_page == 'servicios' %} class="active"{% endif%}><a href="/servicios">Servicios</a></li>
        <li {% if active_page == 'puntos' %} class="active"{% endif%}><a href="/puntos">Puntos hoduho</a></li>
        <li {% if active_page == 'trabaja' %} class="active"{% endif%}><a href="/trabaja">Tabaja con nostros</a></li>
        <li {% if active_page == 'contacta' %} class="active"{% endif%}><a href="/contacta">Contacta</a></li>
    </ul>
</header>