{% extends "base/layout.html.twig" %}

{% block sub_header %}
<div class="image-wrapper">
</div>
{% endblock %}

{% block content %}

<div class="centered-container row-fluid home-text-container">
    <div class="offset1 span4 home-left-text-container">
        <h2>Hogar <span class="blue">Dulce</span> Hogar</h2>
		<p>En hoduho nos preocupamos por ti. Sabemos que tienes poco tiempo y que no te gusta gastarlo haciendo cosas que no quieres hacer. Con hoduho aumentarás tu calidad de vida.</p>
		<p>Conoce nuestros <a href="/servicios">servicios</a> y nuestro <a href="/puntos">programa de puntos</a>, con los que e beneficiarás de descuentos especiales.</p>
	</div>
    <div class="carousel-container">
        <div id="carousel" class="offset2 span4">
            <div>
                <h5>Sábado, 10 am (en el dormitorio)</h5>
                <p>- ¡Cariño! Levanta el culo que tenemos que limpiar!</p>
                <p>- Ufff... se ha acordado - Retaíla de excusas.</p>
                <p>Todos sabemos cómo va a acabar esto...</p><br>

                <p class="black">Ahórrate discusiones con tu pareja. <a href="/servicios">Consulta nuestros servicios.</a></p>
            </div>
            <div>
                <h5>Jueves, 7:30 pm (al llegar a casa)</h5>
                <p>Un día duro de trabajo, llegas a tu "dulce hogar" y solo abrir la puerta:</p>
                <p>- ¿Cómo es posible que la casa ya esté así si limpiamos el pasado fin de semana?</p><br>

                <p class="black">Encuentra tu hogar impoluto cada día. <a href="/servicios">Consulta nuestros servicios.</a></p>
            </div>
            <div>
                <h5>Viernes, 10:00 am (conversación telefónica)</h5>
                <p>- Cariño, esta noche vienen a cenar Carlota y Mario.</p>
                <p>- ¿Cómo? ¡Pero si está la casa patas arriba!</p><br>

                <p class="black">No te preocupes del cuándo, nosotros te ayudamos. <a href="/servicios">Consulta nuestros servicios.</a></p>
            </div>
        </div>
    </div>
</div>

<br>

{% endblock %}