{% extends "base/layout.html.twig" %}

{% block content %}

<div class="image-container">
    <div class="shadow-top"></div>
    <div class="image-wrapper">

    </div>
    <div class="shadow-bottom"></div>
</div>

<br/>

<div class="centered-container row-fluid">
    <div class="offset1 span4">
        <h4>hogar dulce hogar</h4>
    </div>
    <div class="offset2 span4">
        <h4>Carrusel de imágenes</h4>
    </div>
</div>

<br/>

{% endblock %}