{% extends "base/layout.html.twig" %}

{% block content %}

<div class="image-container">
    <div class="shadow-top"></div>
    <div class="image-wrapper">

    </div>
    <div class="shadow-bottom"></div>
</div>

<br/>

<div class="centered-container row-fluid">
    <div class="offset1 span4">
        <h4>...hogar <span class="blue">dulce</span> hogar...</h4>
		<p>En hoduho nos preocupamos por ti. Sabemos que tienes poco tiempo y que no te gusta gastarlo haciendo cosas que no quieres hacer. Con hoduho aumentarás tu calidad de vida.</p>
		<p>Conoce nuestros <a href="/servicios">servicios</a> y nuestro <a href="/puntos">programa de puntos</a>, con los que e beneficiarás de descuentos especiales.</p>
	</div>
    <div id="carousel" class="offset2 span4">
		<div>
			<h5>Infinity 1</h5>
			<p>A concept that in many fields refers to a quantity without bound or end.</p>
		</div>
		<div>
			<h5>Infinity 2</h5>
			<p>A concept that in many fields refers to a quantity without bound or end.</p>
		</div>
    </div>
</div>

<br/>

{% endblock %}