{% extends "base/layout.html.twig" %}

{% block content %}

<div class="image-container">
    <div class="shadow-top"></div>
    <div class="image-wrapper">

    </div>
    <div class="shadow-bottom"></div>
</div>

<div>
    <h2>En hoduho hacemos las cosas de puta madre!!!</h2>
</div>

{% endblock %}