{% extends "base/layout.html.twig" %}

{% block sub_header %}

<div class="services-nav-container">
    <ul class="nav nav-pills services-nav">
        <li {% if active_section == 'promolanzamiento' %} class="active"{% endif%}><a href="/servicios/promolanzamiento">Servicio promocional</a></li>
        <li {% if active_section == 'semanal' %} class="active"{% endif%}><a href="/servicios/semanal">Limpieza semanal</a></li>
        <li {% if active_section == 'quincenal' %} class="active"{% endif%}><a href="/servicios/quincenal">Limpieza quincenal</a></li>
        <li class="punctual-nav-pill {% if active_section == 'puntual' %}active{% endif%}"><a href="/servicios/puntual">Limpieza puntual</a></li>
        <li {% if active_section == 'choque' %} class="active"{% endif%}><a href="/servicios/choque">Limpieza de choque</a></li>
    </ul>
</div>

{% endblock %}

{% block content %}

{% block service_details %}

<div class="centered-container services-text-container text-container">
    <div class="row-fluid services-row-container">

        <div class="offset1 span4">
            <h3>Limpieza semanal</h3>
            <p>Fregar el suelo, repasar los cristales, planchar, poner lavadoras, todo lo que no te apetece y necesitas hacer una o más veces por semana.</p>

            <div class="prices-container row-fluid">
                <div class="price-container">
                    <p>2 h/sesión<br><b>11 €/hora</b></p>
                    <a href="/servicios/semanal/2">+ info</a>
                </div>
                <div class="price-container">
                    <p>3 h/sesión<br><b>10,5 €/hora</b></p>
                    <a href="/servicios/semanal/3">+ info</a>
                </div>
                <div class="price-container">
                    <p>4 h/sesión<br><b>10 €/hora</b></p>
                    <a href="/servicios/semanal/4">+ info</a>
                </div>
                <div class="prices-footer-container">
                    +1 €/h y te traemos los productos
                </div>
            </div>
            <h2 class="more-info-container"><a href="/servicios/semanal/4">+ info</a></h2>
        </div>

        <div class="offset2 span4">
            <h3>Limpieza puntual</h3>
            <p>¿Has celebrado una fiesta o simplemente hoy no quieres limpiar?. No te preocupes, llámanos y te echamos una mano con lo que necesites.</p>
            <div class="prices-container row-fluid">
                <div class="price-container">
                    <p>2 h<br><b>12,5 €/hora</b></p>
                    <a href="/servicios/puntual/2">+ info</a>
                </div>
                <div class="price-container">
                    <p>3 h<br><b>12 €/hora</b></p>
                    <a href="/servicios/puntual/3">+ info</a>
                </div>
                <div class="price-container">
                    <p>4 h<br><b>11,5 €/hora</b></p>
                    <a href="/servicios/puntual/4">+ info</a>
                </div>
                <div class="prices-footer-container">
                    +1 €/h y te traemos los productos
                </div>
            </div>
            <h2 class="more-info-container"><a href="/servicios/puntual/4">+ info</a></h2>
        </div>

    </div>

    <div class="row-fluid services-row-container">

        <div class="offset1 span4">
            <h3>Limpieza quincenal</h3>
            <p>Solo quieres un apoyo en tus tareas del hogar, te ofrecemos los mismos servicios que en el modo semanal, pero con una frecuencia menor.</p>
            <div class="prices-container row-fluid">
                <div class="price-container">
                    <p>2 h/sesión<br><b>12 €/hora</b></p>
                    <a href="/servicios/quincenal/2">+ info</a>
                </div>
                <div class="price-container">
                    <p>3 h/sesión<br><b>11,5 €/hora</b></p>
                    <a href="/servicios/quincenal/3">+ info</a>
                </div>
                <div class="price-container">
                    <p>4 h/sesión<br><b>11 €/hora</b></p>
                    <a href="/servicios/quincenal/4">+ info</a>
                </div>
                <div class="prices-footer-container">
                    +1 €/h y te traemos los productos
                </div>
            </div>
            <h2 class="more-info-container"><a href="/servicios/quincenal/4">+ info</a></h2>
        </div>

        <div class="offset2 span4">
            <h3>Limpieza de choque</h3>
            <p>Acabas de terminar obras en casa o hay algo que realmente crees que necesita una limpieza a fondo.</p>
            <div class="prices-container row-fluid">
                <div class="price-container">
                    <p>3 h<br><b>13 €/hora</b></p>
                    <a href="/servicios/choque/3">+ info</a>
                </div>
                <div class="price-container">
                    <p>4 h<br><b>12,5 €/hora</b></p>
                    <a href="/servicios/choque/4">+ info</a>
                </div>
                <div class="price-container">
                    <p>5 h<br><b>12 €/hora</b></p>
                    <a href="/servicios/choque/5">+ info</a>
                </div>
                <div class="prices-footer-container">
                    Productos incluidos
                </div>
            </div>
            <h2 class="more-info-container"><a href="/servicios/choqu/5">+ info</a></h2>
        </div>

    </div>

    <div class="row-fluid services-row-container">
        <div class="offset2 span8 points-discover-container">
            <h4>Descubre como beneficiarte de horas de servcio gratuito mediante nuestro sistema de <a href="/puntos">puntos</a></h4>
        </div>
    </div>
</div>


{% endblock %}

{% endblock %}