{% extends "base/layout.html.twig" %}

{% block content %}

<h2>Servicios</h2>

<ul class="nav nav-pills">
    <li><a href="/servicios/promolanzamiento">Servicio promocional</a></li>
    <li><a href="/servicios/semanal">Limpieza semanal</a></li>
    <li><a href="/servicios/quincenal">Limpieza quincenal</a></li>
    <li><a href="/servicios/puntual">Limpieza puntual</a></li>
    <li><a href="/servicios/choque">Limpieza de choque</a></li>
</ul>

<h1>Descripción de los 4 servicios</h1>

{% endblock %}