<div style="
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
">
    <h3 style="
        position: relative;
        text-align: center;
        top: 50%;
        margin-top: -10px;
    ">Próximamente</h3>

</div>