<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
    <head>
        <title>{% block title %}Servicios de limpieza{% endblock title %}</title>

        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
        <META name="viewport" content="width=device-width, initial-scale=1.0;">
        <META name="description" content="Servicios de limpieza en Barcelona">
        <META http-equiv="Content-Language" content="es">
        <META property='og:locale' content='es_ES'>
        <META property='og:type' content='article'>
        <META property='og:title' content='Hoduho - Servicios de limpieza para tu hogar'>
        <META property='og:description' content='Servicios de limpieza | limpieza del hogar | Limpieza en Barcelona'>
        <META property='og:url' content='http://www.hoduho.es/'>
        <META property='og:site_name' content='Hoduho'>
        <META name="robots" content="{% block robots %}INDEX, FOLLOW{% endblock %}">

        <link rel="canonical" href="http://www.hoduho.es/">

        <link rel="shortcut icon" href="{{ 'favicon.ico' }}">
		
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

        <link href="/lib/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    <!--
    {% include 'utils/blur.html.twig' %}
    -->
    {% block body %}
    {% endblock %}
    {% include 'utils/google_analytics.html.twig' %}
    <script type="text/javascript" src="/lib/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/lib/jquery/jquery.carouFredSel-6.2.1-packed.js"></script>
	<script type="text/javascript" src="/lib/jquery/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>