{% extends "base/base.html.twig" %}

{% block body %}

{% include 'header.html.twig' %}

<div class="sub-header-container">
    <div class="sub-header-shadow-top"></div>

    {% block sub_header %}
    {% endblock %}

    <div class="sub-header-shadow-bottom"></div>
</div>

{% block content %}
{% endblock %}

{% include 'footer_sitemap.html.twig' %}

{% include 'footer.html.twig' %}

{% endblock %}